@import "tailwindcss";

@theme {
  
  --color-brand-bg: #FFFFFF;
  --color-brand-text: #001624;
  
  
  --color-brand-bg-dark: #03070a;
  --color-brand-text-dark: #ece7df;
} 

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
  transition: background-color 0.3s, color 0.3s; 
}


.dark body {
  background-color: var(--color-brand-bg-dark);
  color: var(--color-brand-text-dark);
}


/* Mode Clair (par défaut) */
:root {
    --bg-color: #ffffff;
    --text-color: #1a1a1a;
  }
  
  /* Mode Sombre */
  .dark {
    --bg-color: #03070a;
    --text-color: #ece7df;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease;
  }